#container{
    background-image: url(../../images/texture.png);
    margin: 0 auto;
    width: 1200px;
}

header{
    width: 1100px;
    height: 270px;
    display: flex;
    flex-direction: column;
}

#logo{
width: 700px;
padding-left: 50px;
padding-top: 10px;
}

nav{
    padding-top: 20px;
    height: 40px;
}

#navigation{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    padding-bottom: 0px;
}

#finNav{
    padding-right: 65px;
}

#separator{
    align-self:center;
    width: 1100px;
    padding-top: 0px;
    height: 40px;
}


main{
    display: flex;
    width: 1100px;
    flex-direction: column;
}

.articles{
    width: 1100px;
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
}

.centrerImage{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 5px 8px;
    border-radius: 10px;
}

.troisPhotos{
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 5px;
    justify-content: center;
}

.owLogo{
    width: 245px;
    height: 125px;
    border-radius: 10px;
}

.imagePadding{
    padding: 0px 2px;
    border-radius: 10px;
}

.elargissement{
    margin-top: 2px;
}

.texteArticle{
    padding: 0 50px;
    padding-right: 100px;
}

.titreColor{
    color: rgb(255, 153, 0);
}

.paragrapheJeux{
    text-align:justify;
    line-height: 20px;
}

.btn{
    margin-top: 15px;
}

.wiki{
    color: rgb(255, 153, 0) ;
    text-decoration: none;
}

@media screen and (max-width:1023px) {
    header{
        align-items: center;
    }

    nav ul li{
        font-size: 23px;
    }
    
    .texteArticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texteArticle h2{
        font-size: 28px;
    }

    .texteArticle p{
        font-size: 22px;
    }

    .texteArticle img{
    }
}
@media screen and (max-width:767px) {

    #logo{
        align-self: flex-end;
        width: 900px;
    }
    
    header nav {
        content: url(../../images/Hamburger_icon.svg.png);
        position: absolute;
        width: 75px;
        height: 75px;
        top: 75px;
        left: 100px;
    }
    
    .articles{
        flex-direction: column;
        align-items: center;
    }
    
    .centrerImage{
        width: 700px;
    }
    
    .owLogo{
        width: 650px;
        height: 400px;
    }
    
    .imagePadding{
        width: 120px;
        height: 120px;
    }

    .elargissement{
        margin-top: 65px;
        font-size: 30px;
    }

    .texteArticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texteArticle p{
        font-size: 50px;
        line-height: 40px;
    } 

    .texteArticle h2{
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .btn{
        width: 240px;
        height: 130px;
    }
    }


    @media screen and (max-width:400px) {

        header {
           position: relative;
        }
        
        #logo{
            align-self: flex-end;
            width: 900px;
        }
        
        header nav {
            content: url(../../images/Hamburger_icon.svg.png);
            position: absolute;
            width: 75px;
            height: 75px;
            top: 75px;
            left: 100px;
        }
        
        .articles{
            flex-direction: column;
            align-items: center;
        }
        
        .centrerImage{
            width: 850px;
        }
        
        .owLogo{
            width: 750px;
            height: 400px;
        }
        
        .imagePadding{
            width: 180px;
            height: 180px;
        }

        .elargissement{
            font-size: 40px;
            padding-top: 120px;
            margin: 0px;
        }

        .btn{
            width: 300px;
            height: 160px;
        }
        }